<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear empleado</title>
</head>
<body>
    <div class="container">
        <h3><a href="/empleados">Lista de empleados</a></h3>
        <h1>Crear Empleado Nuevo</h1>
        <form action="/empleados/save" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td><input type="text" name="nombre" /></td>
                    </tr>
                    <tr>
                        <td>Apellido</td>
                        <td><input type="text" name="apellido" /></td>
                        
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" name="email" /></td>
                    </tr>
                    <tr>
                        <td>DNI</td>
                        <td><input type="text" name="dni" /></td>
                    </tr>
                    <tr>
                        <td>Sexo</td>
                        <td><input type="text" name="sexo" /></td>
                    </tr>
                    <tr>
                        <td>Teléfono</td>
                        <td><input type="text" name="telefono" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="submit">Grabar</button> </td>
                        
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>